body {
    display: flex;
    flex-direction: column;
}

body div{
    border: black 1px solid;
}

#nav-bar{
    background-color: blue;
}

#main {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    justify-content: space-between;
}

#left {
    width: 10%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

#mid {
    display: relative;
    background-color: blue;
}

#matter {
    background-color: black;
}

#sim{
    position: relative;
}

#play-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
}


