div{
    border: black 1px solid;
}

#main {
    display: flex;
    flex-direction: row;
    background-color: #c6e2e9;
    justify-content: space-between;
    height: 100vh;
    max-height: 100vh;
}

#mid {
    display: relative;
    background-color: black;
}

#matter {
    background-color: black;
}

#sim{
    position: relative;
}

.play-text{
    text-align: center;
    color: black;
    background-color: #c6e2e9;
    border: black 3px solid;
    border-radius: 20px;
    position: absolute;
    padding: 50px;
    top: 45%;
    left: 45%;
}

#popup {
    width: 50%;
    position: absolute;
    background-color: wheat;
    left: 25%;
}

#popup p {
    text-align: center;
}

body{
    overflow: hidden;
}



