#right {
    background-color: red;
    display: flex;
    flex-direction: column;
}

#world-settings{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 15%;
}

#ball-settings{
    overflow: auto;
}

#gravity-toggle{
    background-color: red;
    border: 1px black solid;
    height: auto;
}

.slider-ele{
    display: flex;
    flex-direction: row;
}