#right {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#right > div {
    background-color: #99b0b0;
}

#world-settings{

    display: flex;
    flex-direction: column;
}

#ball-list{
    overflow: auto;
    size: 70%;
}

#ball-settings{
}

#gravity-toggle{
    background-color: red;
    border: 1px black solid;
    height: auto;
}

.slider-ele{
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

#left-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    box-sizing: border-box;
}

#play-pause{
    background-color: green;
    padding: 10px 15px 10px 15px;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 3px;
}

#play-pause:hover{
    cursor: pointer;
}

#play-pause:active{
    border: darkslategray 3px solid;   
}