#right {
    display: flex;
    flex-direction: column;
}

#right > div {
    background-color: #99b0b0;
}

#world-settings{

    display: flex;
    flex-direction: column;
}

#ball-list{
}

#ball-settings{
}

#gravity-toggle{
    background-color: red;
    border: 1px black solid;
    height: auto;
}

.slider-ele{
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

#left-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}